.cards {
  display: grid;
  grid-template-columns: 1fr;
  column-gap: 30px;
  row-gap: 30px;
  padding-bottom: 3em;

  &__inner {
    padding: 4em 2.5em;
  }

  &__item {
    background: #fff;
    border-radius: 10px;
    color: $primaryColor;
    text-decoration: none;
    transition: all 300ms ease;
    display: inline-block;
    position: relative;
    
    p {
      line-height: 1.6;
    }

    &:hover {
      box-shadow: -10px 10px 30px rgba(black, 0.1);

      .cards__icon {
        transition: all 400ms ease;
        opacity: 1;
        transform: translate(0px, 0px);
      }
    }
  }

  &__icon {
    position: absolute;
    top: 20px; right: 20px;
    z-index: 9;
    
    @media(min-width:$bp-md) {
      transform: translate(-10px, 10px);
      opacity: 0;

    }

    svg {
      width: 100%;
    }
  }

  h3 {
    margin-top: 0;
    line-height: 1.4;
  }

}


.animate {
  opacity: 0;
  transition: all 300ms ease;
  transform: translateY(60px);
  &.in-view {
    opacity: 1;
    transform: translateY(0px);

  }
}

@media(min-width: $bp-md) {
  .cards {
    grid-template-columns: 1fr 1fr;

    p {
      font-size: 0.87em;
    }
  }
}

@media(min-width: $bp-lg) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media(min-width: $bp-xxl) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}