.nav-stack {
  height: 78px;

  @media(min-width: $bp-md) {
    height: 120px;
  }
}


.avatar {
  height: 70px;
  width: 70px;
  border-radius: 100%;
  background: linear-gradient(
    45deg,
    #0F5BFC,
    #E81EF5
  );
  overflow: hidden;
  position: relative;
}

.avatar__el {
  height: 80%;
  width: 80%;
  border-radius: 100%;
  position: absolute;
  top: 50%; left: 50%;
  transform: translate(-50%, -50%);
  background-image: url('https://avatars3.githubusercontent.com/u/15894356?s=460&u=118ce796d5f3016317cbe6da7e6ebed39d641cd1&v=4');
  background-position: center;
  background-size: cover;
  position: relative;
}

header {
  position: absolute;
  top: 0; left: 0;
  width: 100%;
  transition: background 200ms ease;

  &.nav-showing {
    background: #f5f5f5;
  }
}

.dark header.nav-showing {
  background: #222;
}

.nav {
  display: flex;
  flex-direction: column;
}

.nav a {
  color: #111;
  font-weight: 700;
  text-decoration: none;
}

.nav__item {
  position: relative;
}

.nav-parent {
  display: none;
}

.nav-showing .nav-parent {
  display: block;
}

#menu-trigger {
  position: absolute;
  top: 50%; right: 0;
  transform: translateY(-50%);
}

.logo {
  font-weight: 700;
}

.dark .nav a {
  color: #f5f5f5;
}

.nav__item:last-of-type {
  padding: 1em 0em;
}

.nav ul {
  margin: 0; padding: 0;
  padding: 1em 0em;
  list-style-type: none;
}

nav li {
  margin-bottom: 1em;
  opacity: 0;
  transform: translate(-0px, -8px);
  &:last-of-type { margin-bottom : 0; }
}

nav.showing li {
  transition: transform 500ms, opacity 1500ms $ease-out-quart;
  opacity: 1;
  transform: translate(0px,0px);

  @for $i from 0 through 10 {
    &:nth-child(#{$i}) {
      transition-delay: 80ms * $i;
    }
  }
}


#menu-trigger {
  height: 35px;
  width: 40px;
  border: none;
  -webkit-appearance: none;
  box-shadow: none;
  background: transparent;

  .burger-span {
    position: absolute;
    width: 80%;
    height: 2px;
    background: black;
    left: 10%;
    cursor: pointer;
    transition: all 200ms ease;

    &:nth-child(2) {
      top: 8px;
    }

    &:nth-child(3) {
      top: 16px;
    }

    &:nth-child(4) {
      top: 24px;
    }
  }
}

.dark #menu-trigger .burger-span {
  background: white;
}
.nav-showing #menu-trigger {

  .burger-span {
    width: 60%;
    left: 20%;

    &:nth-child(2) {
      transform: translateY(8px) rotate(45deg);
    }

    &:nth-child(3) {
      display: none;
    }

    &:nth-child(4) {
      transform: translateY(-8px) rotate(-45deg);
    }
  }
}

@media(min-width: $bp-md) {
  header {
    background: transparent !important;
  }
  .nav {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0.5em 0em;
  }

  #menu-trigger {
    display: none;
  }

  .nav__item:last-of-type {
    padding: 0;
  }

  .nav-parent,
  .nav-showing .nav-parent {
    display: block !important;
  }

  .nav ul {
    display: flex;
    padding: 0;
  }

  nav li {
    opacity: 1;
    margin-bottom: 0;
    transform: translateY(0px);
    transition: all 0ms ease;
    margin-left: 2em;

    &:first-of-type {
      margin-left: 0;
    }
  }

  .logo:hover {
    color: $blue;
  }

  .logo:focus {
    transform: translateY(1px);
    position: relative;
    display: inline-block;
  }

  nav li a {
    position: relative;
    display: inline-block;

    &:after {
      content: '';
      position: absolute;
      bottom: 0; right: 0;
      left: auto;
      width: 0%;
      transition: width 300ms $ease-out-quart;
      height: 2px;
      background: $blue;
    }

    &:hover:after {
      width: 100%;
      right: auto;
      left: 0;
    }
  }
}