.social {
  padding-top: 1em;

  &__inner {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }


  h2 {
    margin: 0;
  }


  ul {
    display: flex;
    justify-content: flex-end;
    margin: 0; padding: 0;
    list-style-type: none;
    padding-top: 1em;
  }

  li {
    margin-left: 1.5em;

    &:first-of-type {
      margin-left: 0;
    }
  }

  a {
    color: #444;
    font-weight: 700;
    font-size: 12px;
  }
}

.dark .social a {
  color: white;
}

.social__link {
  @include sr-only();
}

@media(min-width: $bp-md) {
  .social {

    &__inner {
      flex-direction: row;
      align-items: center;
    }

    ul {
      padding-top: 0;
    }

  }
}