.theme-switcher {
  display: flex;
  justify-content: flex-end;
  padding: 1em 0em;
}

.theme-switcher__inner {
  display: flex;
  align-items: center;
  overflow: hidden;
  position: relative;
  cursor: pointer;

  img {
    width: 22px;
    height: auto;
    top: 3px;
    position: relative;
    margin-right: 8px;
  }

  input {
    position: absolute;
    left: -200%;

    &:checked  {
      
      + label {

        background: #fff;
        
        .theme-switcher__ball {
          transform: translateX(100%);
          background: $blue;
        }
      }
    }

    &:focus {

      + label {
        outline: 2px solid #0F5BFC;
        box-sizing: border-box;
      }
    }
  }
  
}

.theme-switcher label {
  height: 20px;
  width: 40px;
  background: #aaa;
  display: block;
  overflow: hidden;
  position: relative;
  cursor: pointer;
  border-radius: 40px;
}

.theme-switcher label:focus {
  outline: 2px solid #0F5BFC;
}

.theme-switcher__ball {
  position: absolute;
  top: 0; left: 0;
  width: 20px;
  border-radius: 100%;
  height: 20px;
  background: black;
  transition: all 500ms $ease-out-back;
}