.content-area {
  padding: 6em 0em 4em 0em;

  p {
    margin-top: 2em;
  }


  img {
    max-width: 100%;
    height: auto;
  }


  figure {
    margin: 0;
  }
}

.blogs .content-area {
  padding: 4em 0em 2em 0em;

  p {
    margin-top: 1em;
  }
}

#css-text {
  background: linear-gradient(
    45deg,
    #0F5BFC,
    #E81EF5
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#js-text {
  transition: $themeTransition;
}


@media(min-width: $bp-md) {
  .content-area {
    padding: 6em 0em 4em 0em;
  }

  .blogs .content-area {
    padding: 4em 0em 2em 0em;
  }
  
}