.content-area {
  padding: 6em 0em 4em 0em;
  text-align: center;
  max-width: 1000px;
  margin: auto;

  h1 {
    font-weight: 800;
  }

  p {
    margin-top: 1.4em;
    font-size: 1em;
    color: $primaryColor;

    a {
      color: $primaryColor;
    }

    @media(min-width: $bp-md) {
      font-size: 1.2em;
    }
  }


  img {
    max-width: 100%;
    height: auto;
  }


  figure {
    margin: 0;
  }
}

.blogs .content-area {
  padding: 4em 0em 2em 0em;

  p {
    margin-top: 1em;
  }
}

#js-text {
  transition: $themeTransition;
}

@media(min-width: $bp-md) {
  .content-area {
    padding: 6em 0em 4em 0em;
  }

  .blogs .content-area {
    padding: 4em 0em 2em 0em;
  }
  
}