@import './styles/settings';
@import './styles/vars';
@import './styles/fonts';
@import './styles/grid';
@import './styles/home';
@import './styles/components/theme-switcher';
@import './styles/components/nav';
@import './styles/components/blog-listing';

body {
  transition: background 400ms, color 400ms ease;
}

.App {
  position: relative;
  min-height: 100vh;
  transition: background 400ms, color 400ms ease;

  &.light {
    background-color: #f2f7fa;
  }
}

.App.dark {
  color: #f1f1f1;
  background: #000000;
}

.App.dark #js-text {
  color: yellow;
}